name: Deploy to central

env:
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
  SIGNING_USER: ${{ secrets.SIGNING_USER }}

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/ci-build.yml
  deploy:
    needs: build
    environment: Publish
    strategy:
      matrix:
        include:
          - target: publishAndroidReleasePublicationToSonatypeRepository
            os: ubuntu-latest
          - target: publishDesktopPublicationToSonatypeRepository
            os: ubuntu-latest
          - target: publishWasmJsPublicationToSonatypeRepository
            os: ubuntu-latest
          - target: publishKotlinMultiplatformPublicationToSonatypeRepository
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3
      - uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.SIGNING_KEY }}
          passphrase: ${{ secrets.SIGNING_PASSWORD }}
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle publish
        uses: gradle/gradle-build-action@ce999babab2de1c4b649dc15f0ee67e6246c994f
        with:
          arguments: |
            ${{ matrix.target }}
            closeAndReleaseSonatypeStagingRepository
            -Psigning.gnupg.passphrase='${{secrets.SIGNING_PASSWORD}}'
            -PsonatypeUsername='${{secrets.OSSRH_USERNAME}}'
            -PsonatypePassword='${{secrets.OSSRH_PASSWORD}}'
